parameters:
	ignoreErrors:
		- '#https:\/\/github.com\/sebastianbergmann\/phpunit\/issues\/4141#'
	ergebnis:
		classesAllowedToBeExtended:
			- WyriHaximus\TestUtilities\TestCase

includes:
	- ../phpstan-rules-wrapper/wrapper.neon
