parameters:
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- WyriHaximus\TestUtilities\TestCase

includes:
	- ../phpstan-rules-wrapper/wrapper.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
