parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../src/Rector/Rules/ReplaceTestFunctionPrefixWithAttributeRector.php

includes:
	- ../../extension.neon
